# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to \`.env\`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# Env variables extracted from shared to be exposed to the client in Vite (WXT) extension
VITE_PRODUCT_NAME="${PRODUCT_NAME}"
VITE_SITE_URL="${URL}"
VITE_DEFAULT_LOCALE="${DEFAULT_LOCALE}"

# Theme mode and color
VITE_THEME_MODE="system"
VITE_THEME_COLOR="orange"


#############################
###   Monitoring config   ###
#############################

# Sentry config - required only if you use Sentry as a monitoring provider
VITE_SENTRY_DSN="<your-sentry-dsn>"
VITE_SENTRY_ENVIRONMENT="development"
SENTRY_AUTH_TOKEN="<your-sentry-auth-token>" # required for source maps upload

# Posthog config - reused from analytics section below


############################
###   Analytics config   ###
############################

# Google Analytics config - required only if you use Google Analytics as an analytics provider
VITE_GOOGLE_ANALYTICS_MEASUREMENT_ID="<your-google-analytics-measurement-id>"
VITE_GOOGLE_ANALYTICS_SECRET="<your-google-analytics-secret>"

# Posthog config - required only if you use Posthog as an analytics provider
VITE_POSTHOG_KEY="<your-posthog-key>"
VITE_POSTHOG_HOST="https://us.i.posthog.com"
