# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to \`.env\`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# Env variables extracted from shared to be exposed to the client in Expo mobile app
EXPO_PUBLIC_SITE_URL="${URL}"
EXPO_PUBLIC_DEFAULT_LOCALE="${DEFAULT_LOCALE}"

# Theme mode and color
EXPO_PUBLIC_THEME_MODE="system"
EXPO_PUBLIC_THEME_COLOR="orange"


#########################
###    Auth config    ###
#########################

# Use this variable to enable or disable password-based authentication. If you set this to true, users will be able to sign up and sign in using their email and password. If you set this to false, the form won't be shown.
EXPO_PUBLIC_AUTH_PASSWORD="true"

# Use this variable to enable or disable magic link-based authentication. If you set this to true, users will be able to sign up and sign in using a magic link sent to their email. If you set this to false, the form won't be shown.
EXPO_PUBLIC_AUTH_MAGIC_LINK="false"

# Use this variable to enable or disable email OTP (one-time code) login. If you set this to true, users will be able to sign in by receiving a 6-digit code by email. If you set this to false, the option won't be shown.
EXPO_PUBLIC_AUTH_EMAIL_OTP="false"

# Use this variable to enable or disable anonymous authentication. If you set this to true, users will be able to proceed to your app without "traditional" authentication. If you set this to false, the anonymous login won't be available.
EXPO_PUBLIC_AUTH_ANONYMOUS="true"

# Required for native "Sign in with Google" on Android, you can reuse the GOOGLE_CLIENT_ID from the web environment variables here
EXPO_PUBLIC_GOOGLE_CLIENT_ID="<your-google-client-id>"


##########################
###   Billing config   ###
##########################

# RevenueCat config - required only if you use RevenueCat as a billing provider
EXPO_PUBLIC_REVENUECAT_APPLE_API_KEY=""
EXPO_PUBLIC_REVENUECAT_GOOGLE_API_KEY=""

# Superwall config - required only if you use Superwall as a billing provider
EXPO_PUBLIC_SUPERWALL_APPLE_API_KEY=""
EXPO_PUBLIC_SUPERWALL_GOOGLE_API_KEY=""


#############################
###   Monitoring config   ###
#############################

# Sentry config - required only if you use Sentry as a monitoring provider
EXPO_PUBLIC_SENTRY_DSN="<your-sentry-dsn>"
EXPO_PUBLIC_SENTRY_ENVIRONMENT="development"
SENTRY_AUTH_TOKEN="<your-sentry-auth-token>" # required for source maps upload

# Posthog config - reused from analytics section below


############################
###   Analytics config   ###
############################

# Posthog config - required only if you use Posthog as an analytics provider
EXPO_PUBLIC_POSTHOG_KEY="<your-posthog-key>"
EXPO_PUBLIC_POSTHOG_HOST="https://us.i.posthog.com"

# Mixpanel config - required only if you use Mixpanel as an analytics provider
EXPO_PUBLIC_MIXPANEL_TOKEN="<your-mixpanel-token>"