@import "@workspace/ui/globals.css";
@import "./animations.css";
@plugin "@tailwindcss/typography";

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
    overscroll-behavior: none;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
    }
  }

  ::selection {
    @apply bg-primary text-background;
  }

  ::-webkit-scrollbar {
    @apply h-2 w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-muted/30;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-muted-foreground/20 rounded-lg;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-muted-foreground/40;
  }
}

@utility container {
  width: 100%;
  max-width: 100%;
  margin-inline: auto;
  padding-inline: 2rem;

  @variant 2xl {
    max-width: 1400px;
  }
}
